body {
  width: 100%;
  background-color: #e2f4fc;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Inter", sans-serif;
}

.flex {
  display: flex;
}

.standard-button {
  background-color: #ebbf52;
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.7rem 1.8rem;
}

.standard-button:hover {
  cursor: pointer;
  background-color: #ebc052a6;
  transition: 0.3s ease;
}

.standard-text {
  color: black;
  opacity: 60%;
  font-size: 0.8rem;
  font-weight: 700;
}

.small-text {
  color: black;
  opacity: 60%;
  font-size: 0.6rem;
  font-weight: 700;
}

.above-slider-positioning {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.below-slider-positioning {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.lower-container-positioning {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.margin-right {
  margin-right: 0.5rem;
}

.header {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  padding: 0px 20px 0px 20px;
}

.header h1,
h5 {
  color: #44423a;
}

.main-container {
  width: 500px;
  margin: 0 auto;
  border: transparent;
  border-radius: 20px;
  margin-top: 2.5rem;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.upper-text-left {
  padding: 2rem 1.5rem;
  width: 100%;
}

.upper-text-right {
  padding: 2rem 1.5rem;
}

.price {
  color: #45423a;
  font-size: 2rem;
  font-weight: 600;
}

.slider {
  text-align: center;
  width: 100%;
}

#slider {
  width: 60%;
  appearance: none;
  -webkit-appearance: none;
}

#slider:hover {
  cursor: pointer;
}

#slider::-webkit-slider-runnable-track {
  background-color: #decdac;
  border-radius: 40px;
  height: 3px;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -14px;
  height: 30px;
  width: 30px;
  background-color: #ebbf52;
  border-radius: 50px;
}
#slider::-moz-range-track {
  background-color: #decdac;
  border-radius: 40px;
  height: 3px;
}

#slider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -14px;
  height: 30px;
  width: 30px;
  background-color: #ebbf52;
  border-radius: 50px;
}

.toggle-container {
  justify-content: space-between;
  width: 60%;
  padding: 2rem 0;
  align-items: center;
  margin: 0 auto;
  border-bottom: solid 1px #656462;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 16px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #decdac;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.toggle:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 1px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .toggle {
  background-color: #ebbf52;
}

input:focus + .toggle {
  box-shadow: 0 0 1px #ebbf52;
}

input:checked + .toggle:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.toggle.round {
  border-radius: 34px;
}

.toggle.round:before {
  border-radius: 50%;
}

.discount-box {
  border: 0.5px solid red;
  background-color: rgba(255, 0, 0, 0.167);
  font-size: 0.6rem;
  font-weight: 800;
  padding: 0.15rem;
}

.lower-section {
  padding: 2rem 2rem 2rem 2rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.lower-section ul {
  list-style: none;
  padding: 0;
}

.lower-section li {
  margin-bottom: 0.2rem;
}

.lower-section li i {
  margin-right: 0.5rem;
  font-weight: 900;
}

@media only screen and (max-width: 600px) {
  .main-container {
    width: 80%;
  }

  .above-slider-positioning {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .upper-text-left {
    padding: 30px 0px 0px 0px;
  }
  .upper-text-right {
    width: 100%;
    justify-content: center;
    padding: 20px 0;
  }
  .toggle-container {
    width: 85%;
  }
  .lower-section {
    margin: 0 auto;
    padding: 0;
    padding: 20px 20px;
    display: block;
  }
  .lower-left {
    margin-bottom: 20px;
  }
  .lower-right {
    text-align: center;
  }
}
